<div class="main container">
  <div *ngFor="let leaderboard of leaderboards" class="row col-xs-12">
    <h1>{{leaderboard.title}}</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Point</th>
          <th scope="col">Game</th>
          <th scope="col">Winning rate</th>
          <th scope="col">3</th>
          <th scope="col">1</th>
          <th scope="col">0</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rank of leaderboard.ranks" [ngClass]="getRakingRowClass(rank)">
          <th scope="row">{{rank.sequence}}</th>
          <td>{{rank.user}}</td>
          <td>{{rank.totalPoint}}</td>
          <td>{{rank.totalGame}}</td>
          <td>{{rank.winningRate}} %</td>
          <td>{{rank.totalCorrectScore}}</td>
          <td>{{rank.totalCorrectResult}}</td>
          <td>{{rank.totalWrong}}</td>
        </tr>
        <tr class="table-dark">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
