<div class="main container">
  <div *ngFor="let matchday of matchdays" class="row col-xs-12">
    <h1>{{matchday.title}}</h1>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Home</th>
          <th scope="col">Result</th>
          <th scope="col">Away</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matchday.matches" class="table-light">
          <th scope="row">{{match.date | date: 'fullDate'}}</th>
          <td>{{match.home}}</td>
          <td>{{match.result}}</td>
          <td>{{match.away}}</td>
        </tr>
        <tr class="table-dark">
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div *ngFor="let predictor of matchday.predictors" class="col-lg-4 col-md-6 col-xs-12">
        <h2>{{predictor.user}}</h2>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Game</th>
              <th scope="col">Prediction</th>
              <th scope="col">Point</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prediction of predictor.predictions" [ngClass]="getPredictionRowClass(prediction)">
              <th scope="row">{{prediction.home}} vs {{prediction.away}}</th>
              <td>{{prediction.result}}</td>
              <td>{{prediction.point}}</td>
            </tr>
            <tr class="table-dark">
              <td>Total</td>
              <td></td>
              <td>{{predictor.totalPoint}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
